<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="khentarjiel.cabural.com.example.khent.tictactoeapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/spin_the_bottle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/spin_the_bottle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TicTacToeAppMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>